body{
  margin: 0;
}
@mixin MyReader($color,$back){
  background-color: $back;
  width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h1{
    color:$color;
  }
  p{
    color:$color;
  }
}

#header{
  @include MyReader(#fff, #3f74ff);
}